// Variables
$background-color: #fcfcfc;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Animations
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

body {
    opacity: 0;

    /*
     * Fade In and Up animation
     * Modified from https://codepen.io/themechills/pen/dMamgG 
    */
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;

    // General styling
    overflow-x: hidden;
    background-color: $background-color;
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin: 0px 50px 0px 50px;
    background-color: black;
    color: black;
}

a:visited {
    color: #636363;
}

// Header
header {
    text-align:center;
    height: 20vh;
}

.title {
    font-size: 2.8rem;
}

.title a:visited {
    color: black;
}

// Main
main {

}

.landing-page {
    height: 80vh;
}

.page {
    // Set height to slightly larger than the total viewheight
    height: 150vh;
}

// Footer
footer {
    height: 10vh;
    text-align: center;
}

footer>p {
    font-weight: bold;
}
